@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.timeblock {
  font-feature-settings: 'tnum' on, 'lnum' on;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.disabled {
  cursor: not-allowed !important;
  pointer-events: none;
  opacity: 0.3;
}

progress {
  opacity: 0;
}

.progress-container {
  position: absolute;
  top: -1px;
  left: -1px;

  display: inline-block;
  background: rgba(#D8E7FF, 0.66);
  height: 6px;
  width: 100%;
  border-radius: 0;
  overflow: hidden;
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(var(--progress) * 100%);
  background: #0B49AD;

  transition: width 100ms ease-in-out;
}

.pagebreak tr {
  height: 3rem;
}

@media print {
  .pagebreak {
    page-break-after: always;
  }

  * {
    color: #000 !important;
  }

  .noprint,
  .app-header {
    display: none;
  }
}

td.presentation.sel {
  transition: all 0.2s ease-in-out;
  background: #0B49AD !important;
  color: #D8E7FF !important;
}

td.presentation.sel .progress-container {
  transition: all 0.2s ease-in-out;

  background: #0B49AD !important;
}

td.presentation.sel .progress-container::before {
  transition: all 0.2s ease-in-out;

  background: #D8E7FF !important;
}