<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="Plejády" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://plejady.alej.cz" />
    <meta
      property="og:description"
      content="Přihlašovací systém přednáškového dne Plejády."
    />
    <meta name="csrf-token" content={get_csrf_token()} />

    <.live_title suffix=" · Plejády">
      <%= assigns[:page_title] || "Plejády" %>
    </.live_title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <script defer data-domain="plejady.alej.cz" src="https://analytics.marrrt.in/js/plausible.js">
    </script>
  </head>
  <body class="bg-secondary text-primary antialiased w-screen h-screen [&>.phx-container]:h-full">
    <%= @inner_content %>
  </body>
</html>
